:root {
  --main-color-1: #2196F3;
  --main-color-2: #90CAF9;
  --main-color-3: #E3F2FD;
}

body {
  padding: 0;
  margin: 0;
}

.app {
  max-width: 700px;
  width: 100vw;
  margin: 0px auto;
  overflow-x: hidden;
  font-family: CustomSerif,Georgia,Cambria,'Times New Roman',serif;
}

.input-textarea {
  height: 90vh;
  border: 0px;
  max-width: 700px;
  width: 93%;
  outline-width: 0;
  padding: 5px 15px 20px;
  overflow: scroll;
  overflow-x: hidden;

  font-size: 21px;
  line-height: 1.58em;

  margin: 0px auto;

  outline: none; user-select: text; white-space: pre-wrap; word-wrap: break-word
}

.input-container {
}

.controllers {
  /*max-width: 100vw;*/
  width: 100%;
  max-width: 700px;
  /*display: flex;*/
  position: fixed;
  bottom: 0rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  background-color: white;
}

.buttons {
  width: 90%;
  margin: 0px auto;
  margin-top: 10px;
  background: transparent;
}

.button {
  border-radius: 50px;
  border: 0px;
  background-color: white;
  font-size: 20px;
  /*outline-width: 0;*/
  min-width: 40px;
  min-height: 40px;
  background-color: #2196F3;
  color: white;
  box-shadow: -1px 1px 3px rgba(0, 0, 0, .1);
  cursor: pointer;
}

.button__speak {
  width: 150px;
}

.progress {
  /*margin-top: 3vh;*/
  width: 90%;
  margin: 0px auto;
}

.progress__bar {
  height: 8px;
  background-color: var(--main-color-3);
  border-radius: 50px;
  width: 100%;
}

.progress__point {
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background-color: var(--main-color-2);
  margin-top: -13px;
  cursor: pointer;
  transition: transform 1s;
}

.token {
  margin-bottom: 10px;
}

.token--highlighted {
  background-color: var(--main-color-3);
}