:root {
  --main-color-1: black;
}

.app {
  width: 100%;
  max-width: 500px;
  margin: 0px auto;
  overflow-x: hidden;
}

.input-textarea {
  height: 75vh;
  border: 0px;
  border-bottom: 1px solid #eee;
  max-width: 500px;
  width: 100%;
  outline-width: 0;
  font-size: 18px;
  padding: 5px 10px 20px;
  overflow: scroll;
  overflow-x: hidden;
  margin: 0px auto;
}

mark {
  /*padding: 5px;*/
  background-color: rgba(0, 0, 0, .05);
}

.controllers {
  width: 100%;
  display: flex;
}

.controllers__wrapper {
  margin: 5vh auto;
}

.button {
  border-radius: 50px;
  border: 1px solid var(--main-color-1);
  background-color: white;
  font-size: 20px;
  outline-width: 0;
  padding: 10px;
  min-width: 40px;
  min-height: 40px;
}

.button__speak {
  width: 150px;
}

.progress {
  margin-top: 3vh;
}

.progress__bar {
  height: 8px;
  background-color: rgba(0, 0, 0, 0.1);
}

.progress__point {
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background-color: black;
  margin-top: -13px;
  cursor: pointer;
}